body {
  margin: 0;
}

#test {
  display: flex;
}

/* heading*/
.heading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
/* första bilden*/
.item0 {
  grid-column: auto/span 2;
  grid-row: auto / span 4;
  background-color: #bad7f2;
}
/* bilden   width: auto;?? */
.heading img {
  height: 400px;
  margin-left: auto;
  width: auto;
  display: flex;
}
/* sidorna  */
.item1 {
  grid-column: 3 / span 5;
  grid-row: 1 / span 2;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item0 h1 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  width: 314px;
  margin-left: auto;
  margin-right: auto;
}
.item0 p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 354px;
  margin-left: auto;
  margin-right: auto;
}
/* sidorna  */
.item2 {
  grid-row: 3 / span 4;
  grid-column: 3 / span 5;
  background-color: brown;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* nav */
nav ul {
  display: flex;
  justify-content: space-around;
  color: grey;
  list-style-type: none;
  font-family: Fira Sans;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border-radius: 100px;
  padding: 10px;
  background-color: white;
  font-weight: bold;
  width: 131px;
  display: flex;
  justify-content: center;
  border: none;
}

.maincontent {
  background-color: #a9a19e;
}

.maincontent h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  gap: 32px;
}

.card {
  background-color: white;
}

.card img {
  width: 100%;
}

.img1 img {
  background-color: #bad7f2;
}

.img2 img {
  background-color: yellow;
}

.img3 img {
  background-color: red;
}
.maincontent {
}

.about {
  background-color: #fab131;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 680px;
}

.about h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.about p {
  width: 442px;
}

.image-container {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.griditem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

.item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 {
  background-color: #c7ddea;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}
.box2 {
  background-color: #ffffff;
  grid-column: 2 / 3;
  grid-row: 1 / 5;
}
.box3 {
  background-color: #ebebeb;
  grid-column: 3 / 4;
  grid-row: 1 / 5;
}
.box4 {
  background-color: #ffffff;
  grid-column: 1 / 2;
  grid-row: 5 / 9;
}

.box5 {
  background-color: #f17949;
  grid-column: 2 / 3;
  grid-row: 5 / 9;
}

.box6 {
  background-color: #ffffff;
  grid-column: 3 / 4;
  grid-row: 5 / 9;
}
.box7 {
  grid-column: 1 / span 7;
  background-color: #a9a19e;
}

.box8 {
  grid-column: 1 / span 7;
  background-color: #777574;
  grid-row: 10 / 14;
}
