body {
  background-color: #ebebeb;
}

.body {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header img {
  width: 13vw;
  align-self: flex-end;
  margin-right: 20px;
}

.header h2 {
  font-size: 32px;
  color: #ffffff;
  margin-top: 0;
}

.paragraph {
  margin-bottom: 0;
  font-size: 12px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item-one {
  flex-flow: column;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: auto / span 2;
  background-color: #c7ddea;
}

.header-item-one h1 {
  font-size: 55px;
  font-weight: 900;
  line-height: 45px;
  width: 56%;
  margin-bottom: 10px;
}

.header-item-one p {
  margin-top: 0;
  font-size: 20------px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  width: 56%;
}

.header-item-one a {
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 100px;
  width: 131px;
  height: 39px;
  align-self: flex-start;
  margin-left: 140px;
  margin-top: 50px;
  color: black;
}

.header-item-two {
  grid-column: 2 / span 2;
  grid-row: auto / span 1;
  background-color: #f17949;
  flex-direction: column;
}

.header-item-three {
  grid-column: 2 / span 2;
  grid-row: 2 / 2;
  background-color: #ffb939;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 30px 400px 30px 400px;
}

.navigation a {
  text-decoration: none;
  color: gray;
}

.navigation a:hover {
  color: #000000;
}

.content-top {
  background-color: #a9a19e;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 100px;
  padding-bottom: 10px;
}

.top-item-one {
  flex-direction: column;
  width: 100%;
}

.top-item-one h1 {
  font-size: 45px;
  color: #ffffff;
  font-weight: 900;
  width: 13vw;
}

.top-item-one a {
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 100px;
  width: 131px;
  height: 39px;
  color: black;
  align-self: flex-start;
  margin-left: 25%;
}

.top-item-two {
  font-size: 18px;
  width: 100%;
}

.top-item-two p {
  width: 13vw;
  margin-top: 70px;
}

.content-middle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  background-color: #a9a19e;
  height: 25vh;
}

.middle-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 13vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  transform: translateY(135px);
  height: 30vh;
}

.middle-item img {
  height: 15vh;
  margin-bottom: 0;
}

.img-child {
  background-color: #c7ddea;
  width: 12vw;
  transform: translateY(-20px);
}

.img-lady {
  background-color: #fab131;
  width: 12vw;
  transform: translateY(-20px);
}

.img-old-fart {
  background-color: #f17949;
  width: 12vw;
  transform: translateY(-20px);
}

.middle-item p {
  width: 65%;
  color: gray;
  transform: translateY(-30px);
}

.content-bottom {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #fab131;
}

.content-bottom h1 {
  font-size: 45px;
  color: #ffffff;
  font-weight: 900;
  margin-top: 100px;
}

.content-bottom p {
  width: 40%;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 50vw;
  height: 50vh;
}

.space-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 20px;
}

.footer-top-one {
  background-color: #c7ddea;
  color: rgba(0, 0, 0, 0.8);
  font-size: 45px;
  font-weight: 900;
}
.footer-top-two {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}
.footer-top-three {
  background-color: #ebebeb;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
}
.footer-top-four {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
}
.footer-top-five {
  background-color: #f17949;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
}
.footer-top-six {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
}

.footer-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  background-color: #a9a19e;
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
}

.footer-middle a {
  margin-top: 5px;
  margin-bottom: 0;
}

.footer-middle p {
  margin-top: 5px;
}

.footer-bottom {
  background-color: #777574;
  height: 30vh;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
}
